<%- include('../partials/header.ejs') %>

<div id="page-home">
    <div id="homepage-cover">
        <div class="container text-center">
            <h1>Bean there, Done that.</h1>
            <h4><i>The ultimate coffee recipe tracker</i></h4>
            <% if (!authUser) { %>
            <a href="/users/register"><button type="button" class="btn btn-light">Register</button></a>
            <a href="/users/login"><button type="button" class="btn btn-light">Login</button></a>

            <div id="how-it-works" class="row">
                  <div class="card mx-auto text-bg-dark text-center col-8">
                    <div class="card-body">
                      <h5 class="card-title">How it works</h5>
                      <p class="card-text">Bean There, Done That is a coffee-recipe app, specifically for home-brewers and baristas who want to get better at their craft. With it, you can save every brew - and the differences you make every time, such as Brew Time, Grind-Finess, Temperature, Equipment used and many more, all against a simple rating you can give - to find out which time you make the best brew.</p>
                    </div>
                </div>
            </div>

            <% } else { %>
            <h5> Welcome back! <%= authUser.name %></h5>
            <a href="/recipes"><button type="button" class="btn btn-light">Your Recipes</button></a>
            <% } %> 
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
